- prefix ||= '<%= singular_table_name %>'

- if f.object.id
  = f.hidden_field :id, {name: name_for_input_tag(:id, prefix)}

<% for field in inputable_fields -%>
.field
  %label= <%= field.label[:text] %>
<%= field.input.render.indent 1 %>
<% end -%>
