- prefix ||= '<%= singular_table_name %>'

- if f.object.id
  = f.hidden_field :id, {name: name_for_input_tag(:id, prefix)}

<% for field in inputable_fields -%>
.field
<% if field.input.label_guard? %>
  - if <%= field.input.label_guard %>
    %label= <%= field.label[:text] %>
<% elsif field.input.show_label? %>
  %label= <%= field.label[:text] %>
<% end %>
<%= field.input.render.indent 1 %>
<% end -%>
