- <%= singular_table_name %> ||= @<%= singular_table_name %>

.ui.form

<% for field in displayable_fields(:show) -%>
  .field
    %label= <%= field.label[:text] %>
<%= field.display(:show).render.indent 2 %>
<% end -%>
