- <%= plural_table_name %> ||= @<%= plural_table_name %>

- <%= plural_table_name %>.each do |<%= singular_table_name %>|
  %div= r "<%= plural_table_name %>/list/item.display", <%= singular_table_name %>: <%= singular_table_name %>
