- <%= plural_table_name %>||= @<%= plural_table_name %>

- if <%= plural_table_name %>.any?
  - <%= plural_table_name %>.each do |<%= singular_table_name %>|
    %li.autocomplete-result-item.selectable-list-item{ data: { value: <%= singular_table_name %>.<%= value_method %>, url: url_for(<%= singular_table_name %>)}}= <%= singular_table_name %>.<%= display_method %>

- else
  %li= t('common.no-result')
