= r '<%= foreign_plural_table_name %>/list/index', <%= foreign_plural_table_name %>: <%= singular_table_name %>.<%= name %>, <%= foreign_singular_table_name %>_prototype: <%= foreign_model_class_name %>.new(<%= resource_name_according_to_foreign %>: <%= singular_table_name %>), single_page_manager_options: <%= options_hash.inspect %>
